.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 61.8vh;
  max-height: 400px;
  background: #e1e1e1;
  font-size: 2em;
  overflow: hidden;
  background-image: url("https://i.pinimg.com/originals/64/28/5e/64285ef107b2c557ac7a07cde1459c32.jpg");
  color: aliceblue;
}
